<div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()">×</button>
    <h3 class="semibold modal-title">{{quarter.name}} </h3>
</div>
<div class="modal-body">

	<a class="list-group-item "
		ng-repeat="log in quarter.points | filter:q as results"
		href="javascript:void(0)"> <span class="badge badge-titular">{{log.point}}</span>
		<span class="pull-left avatar mr10"> <span
			class="badge badge-number-player">{{log.player.number}}</span>
	</span>
		<div class="clearfix">
			<strong>{{log.player.name}} {{log.player.lastName}}</strong>
			<div>{{log.date | date:'MMM d, y h:mm:ss'}}</div>
		</div>
	</a>

</div>
<div class="modal-footer">
	<button type="button" class="btn btn-success btn-lg" ng-click="close()">Cerrar</button>
</div>