<section id="main" role="main" >
	<div class="container-fluid">
<div ng-show="!flagLoading" >
	<section class="jumbotron jumbotron-bg11 mt-15 mr-15 ml-15" data-stellar-background-ratio="0.4" 
		style="min-height: 320px;background-image: url('../image/stellar/background8.jpg') !important; ">
		    <div class="overlay pattern pattern10"></div>
		    <div class="container">
		    		
		    		<div class="row hidden-sm hidden-md hidden-lg pt15">
					<div class="col-md-3 col-xs-3 pl15" >
		           		<a href="#/{{nameObjects}}" class="btn btn-primary btn-outline mb5">Volver</a>
		            	</div>
		            	<div class="col-md-6 col-xs-6" >
		            		<h4 class="title semibold"></h4>
		            	</div>
		            	<div class="col-md-3 col-xs-3" >
		            		<a href="#/{{nameObject}}/edit/{{object.oid}}" class="btn btn-primary btn-outline mb5">Editar</a>
		            	</div>
		         </div>
		    		<div class="pt20">
		    			<h1 class="thin text-white text-center font-alt">{{object.name}}</h1>
	                <div class="text-center fsize24">
	                		<span uib-rating ng-model="rate" max="5" read-only="true" aria-labelledby="default-rating"></span>
	                </div>
		    		</div>
		    </div>
	</section>
    
    
        <div class="page-header page-header-block mb0 hidden-xs hidden-sm">
            <div class="page-header-section">
                <h4 class="title semibold">{{object.name}}</h4>
            </div>
            <div class="page-header-section">
                <div class="toolbar">
                    <ol class="breadcrumb breadcrumb-transparent nm">
                        <li><a href="#/">Home</a></li>
                        <li><a href="#/{{nameObjects}}">Campeonatos</a></li>
                    </ol>
                </div>
            </div>
        </div>
	
		        
        <div class="row" >
        
        
	        <ul class="nav nav-tabs nav-justified">
			  <li role="presentation" class="active">
			  	<a data-toggle="tab" aria-expanded="true" data-target="#info" >Info</a></li>
			  <li role="presentation">
			  	<a data-toggle="tab" aria-expanded="true" data-target="#games">Partidos</a></li>
			</ul>
			
			<div class="tab-content panel" >
				
				<div class="tab-pane np pt15 pb15 mh400 active" id="info" >
					
					<div class="row pt15 pr15 pl15">
						<div class="col-md-12 text-justify">
							<p>{{object.description}} </p>
						</div>
					</div><hr/>
					<div class="row mb15 mt15 pr15 pl15">
						<div class="col-md-12">
							Capacidad <b>{{court.spectators}}</b> espectadores
						</div>
					</div><hr/>
					<div class="row mb10 mt10 pr10 pl10">
						<div id="map" style="width:100%;height:300px;"></div>
					</div>
				
				</div>
				<div class="tab-pane np pt15 pb15 mh400" id="games" >
					
					<div class="list-group" >

						<div class="alert alert-info mt20 ml10 mr10 text-center" ng-show="!court.matches || court.matches.length==0">
							<span class="media-text ellipsis nm">No hay partidos agendados.</span>
						</div>
						
						
						<a class="list-group-item " ng-repeat="match in court.matches | filter:q as results" href="#/match/{{match.oid}}">
							<span class="badge badge-number-player">{{match.number}}</span>
							<span class="pull-left avatar mr10">
		                        <img ng-src="../image/avatar/avatar.png" class="img-rounded" alt="">
		                    </span>
		                    <div class="clearfix" >
								<strong>{{player.name}} {{player.lastName}}</strong>
								<div>{{msgI18n(player.position)}}</div>
		                    </div>
						</a>
					</div>
				
				</div>
			</div>
        	</div>
        </div>
	</div>
</section>